tenancy_ocid     = "ocid1.tenancy.oc1..replace_me"
user_ocid        = "ocid1.user.oc1..replace_me"
fingerprint      = "aa:bb:cc:dd:ee:ff:11:22:33:44:55:66:77:88:99:00"
private_key_path = "/Users/you/.oci/oci_api_key.pem"
region           = "eu-frankfurt-1"
compartment_ocid = "ocid1.compartment.oc1..replace_me"

project_name = "polyglot-fraud-auditor"
environment  = "dev"

# Remote state location for `oci-core/network` outputs consumed by this stack.
network_state_bucket = "polyglot-fraud-auditor-dev-922120356372-tfstate"
network_state_key    = "dev/oci-core/network/terraform.tfstate"
network_state_region = "eu-north-1"

# Optional. Set to null to let OCI pick defaults.
kubernetes_version = null

node_pool_size  = 1
node_shape      = "VM.Standard.A1.Flex" # Always Free ARM shape
node_ocpus      = 2                      # Per-node OCPU for A1 Flex
node_memory_gbs = 12                     # Per-node memory in GB for A1 Flex

freeform_tags = {
  owner = "platform-team"
}
