subscription_id         = "00000000-0000-0000-0000-000000000000"
resource_group_name     = "rg-polyglot-fraud-auditor-dev"
location                = "northeurope"

eventhub_namespace_name = "ehns-polyglot-fraud-dev"
eventhub_namespace_sku  = "Standard"
eventhub_namespace_capacity = 1

eventhub_name              = "transactions"
eventhub_partition_count   = 2
eventhub_message_retention = 1
consumer_group_name        = "auditor"

project_name = "polyglot-fraud-auditor"
environment  = "dev"

tags = {
  owner = "platform-team"
}
